body{
	background-color: #74AFAD;
	/*background-image: url(chevron2.gif);*/
	background-repeat: repeat;
	margin:0;
	padding:0;

	
}
#wrapper{
	width:70%;
	margin: 0 auto;
	text-align: center;
	background-color: #FFFFFF;
	background-color:#ECECEA;
 
}

header{
	padding-top: 0;
	text-align: center;
	
}
h1{
	font-family: 'shadows into light', cursive;
	font-size: 450%;
	color:white;
	text-shadow: 4px 4px 4px  #333333;
}
p{
	font-family: arial;
}
header p{
	color:#404040;
	font-family: 'Times New Roman';
	font-size: 2em;

}
/*nav-----------------------------*/
nav{
	
		background-color: #558C89;
		list-style-type: none;
		box-shadow:2px 2px 2px  #333333;
	  
	}

ul li {
	display: inline-block;
	
	line-height: 40px;
	
    
}
nav a{
	display:block;
	width:90px;

}

nav a:link{
	font-family: monospace;
	text-decoration: none;
	color:#ffffff;
}
nav a:visited {
	color:#ffffff;


}
nav a:hover {
background-color:#ffffff;
color: #558C89;


font-weight: bold;
}



/*main section---------------------------------------------*/

main #welcome{
	text-align:justify;
	width:40%;
	padding: 10px;
	line-height: 200%;
	float:right;
	
	
}
img {
	height:300px;
	width:350px;
}
/*footer--------------------------------------------------------*/
footer{
	/*background-color:#2a8fc6;*/
	height:50px;
	padding-top:10px;
	clear:both;

}

.copy{
	text-align:right;
}