body{
	background-color: gray;
	/*background-image: url(chevron2.gif);*/
	background-repeat: repeat;
	margin:0;
	padding:0;

	
}
#wrapper{
	width:80%;
	margin: 0 auto;
	text-align: center;
	background-color: #FFFFFF;
	box-shadow: -5px -5px 5px  #e6e6ff;
}

header{
	padding-top: 0;
	
	/*height: 100%;*/
	
}
h1{
	font-family: 'shadows into light', cursive;
	font-size: 450%;
	rgba()
}
p{
	font-family: arial;
}
/*nav-----------------------------*/
nav{
	text-align: right;
	/*background-color:#7c906d;
*/
}
nav a{
	text-decoration: none;
	font-family: monospace;
	
}

nav a:link{
	color:#c65e2a;
}
nav a:visited{
	color:#c65e2a;
}
nav a:hover{
	
	border: 2px solid #c65e2a;
	font-weight: bold;

}
nav a:active {
	border: 2px solid #c65e2a;
}




/*main section---------------------------------------------*/

main #welcome{
	text-align:justify;
	width:40%;
	padding: 10px;
	line-height: 200%;
	float:right;
	
}
#bride{
	float:left;
}

/*footer--------------------------------------------------------*/
footer{
	background-color:#2a8fc6;
	height:50px;
	padding-top:10px;
	clear:both;

}

.copy{
	text-align:right;
}