/*fonts~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
*{
	margin:0;
	padding:0;
	font-size:1em;
   	
}
body{
	
	
	font-family: 'Open Sans', sans-serif;
}

#wrapper{
	width:70%;
	margin: 0 auto;
	
	background-color: #fff;
    position:relative;

 
}
/*body text*/
h1{font-size:3em;	color: #000000; font-family: 'Abril Fatface', cursive;}
h2{font-size: 2.25em;font-family: 'Abril Fatface', cursive;margin-bottom:20px;
margin-top: 10px;}
h3 {
color:#26726f;
font-size:1.75em;
text-align: left;
}
p{font-size: 16px;}
/*header---------------------------------------------------*/
header{
	
   
	text-align: left;

	
}



	

p{

	font-family: arial;
}
header p{
	/*color:#858585;*/
	color: #666;
	font-family: veranda;
	font-size: 220%;

}

/*.header-break{
	border:0;
	border-bottom: 2px solid #26726f;
	
	width: 100%;
}*/
/*nav-----------------------------*/
nav{
	
		
		list-style-type: none;
		text-align: right;
		
		padding:20px 5px;
       border:1px solid black;
        border-right: none;
        border-left: none;

	}
nav li{
	display: inline-block;
	

}
nav li a{
	display: block;
	letter-spacing: 2.5px;
	text-decoration: none;
	font-weight: bold;
	color:#26726f;
}
nav li a:visited{color:#15726f;}
nav li a:hover{text-decoration: underline;}




/*main section---------------------------------------------*/
main{position: relative;}
.paragraph a {color:#26726f;
	text-decoration: none;
}
.paragraph a:hover{text-decoration: underline;}	

.paragraph{text-align:justify;
	width:60%;
	padding: 10px;
	line-height: 2em;
	text-indent: 15px;
    font-family:georgia;
     }

.paragraph p{margin-bottom: 10px;}
}
/*blue text on home page~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.info{ padding:10px 0 5px 0;
	color:#26726f;
	background-color: black;
	margin-top: 10px;}




.info > ul  {list-style-type: none;}
/*end of call of action*/
img {
	height:350px;
	width: 30%;
  float:right;
  margin:10px 10px 10px 10px;
  border:2px solid black;
}
#ashley{height:350px; width:300px; float:right; margin-right: 50px; margin }

section{
	margin: 10px 0 10px 0px;
	padding: 5px 10px 20px ;
	text-align: justify;
	clear:left;
	
}
section.right{float:right;
margin-right:20px;
margin-top: -350px;
line-height: 2.5em;

}
.right a{text-decoration: none; color:#26726f;}
.right a:hover{text-decoration:underline; none; color:#26726f;}

.light-blue{background-color:#55FEF8;}

.price{float: right;}
/*FORM~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
form{background-color: #55FEF8;
	clear:right;

	width: 40%;
	padding: 20px;
	margin-bottom: 20px;
	overflow: auto;
}
label {float: left;
width: 100px;
clear:left;
padding-right: 10px;
text-align: right;}

textarea{
	margin: 10px auto;
	;
}

input[type="submit"]{
	margin-left: 150px;
}

/*buttons~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.btn{margin:40px 10px;
text-align: center; }
.btn a{text-decoration: none;
border:2px solid #26726f;
padding: 10px;
color:#26726f;
box-shadow: 2px 2px  #000;

}

.btn a:hover{
	background-color:rgba(85, 254, 248,0.4);
	font-weight: bold;
	transition: background-color .5s;

}
.btn a:active{box-shadow: inset 2px 2px 2px; #000;}
/*unordered list serives page~~~~~~~~~~~~~~~~~~~~~~~~~~*/
 dt{color:#26726f; margin-top: 5px;}


#faqs dt{
	
	color:#26726f;
	font-size: 1.5em;
     margin: 5px 0;

	
}
dd{ line-height: 2em;} 
.price {float:right;}
/*footer--------------------------------------------------------*/
footer{

	height:50px;
	padding-top: 20px;
	clear:both;
	color:#2B2B2B;
     margin-top: 10px;
	border-top:1px solid #2B2B2B; ;
	margin-bottom: 30px;
   
}


.copy{
	text-align:right;
	font-size: 1em;
}
/*Form----------------------------------------------------------*/
/*icons----------------------------------------------------------*/

 i{
 	color:#26726f;
 	margin-right: 10px;
 }
 i.t_blue:hover {color:#4099FF;}
 i.f_blue:hover {color:#3b5998;}
 .icon{text-align: right;}
/*media query-------------------------------------------------------*/

@media screen and {max-width:590px;} {
	#wrapper {
		width:100%;
	}
}
/*serivces page only*/
